a:hover {
  text-decoration: none;
}

.color--yellow {
  background-color: #fff666 !important;
}

.color--red {
  background-color: #ff9999 !important;
}

.back-link {
  display: block;
  margin-bottom: 20px;
}

.not-found,
.game-locked {
  margin-top: 30px;
}

.board__row:hover,
.player:hover {
  cursor: pointer;
}

.player--chosen:hover {
  cursor: not-allowed;
}
