.board {
  background-color: darkslateblue;
  display: inline-block;
}

.board__cell {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.board__cell--yellow {
  background-color: #fff666;
}

.board__cell--red {
  background-color: #ff9999;
}
